@import url(style.css);
@import url(http://fonts.googleapis.com/css?family=Shojumaru);

/** 
* Description: Core theme for Lydia
*/

/**
* Structure
*/
html{}
body{
   background-color:#eee;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
}

#header,
#main,
#footer {
   margin:0 auto;
   width:970px;
   background-color:#fff;
   padding: 1em;
}

#banner {
  display:table;
  margin-bottom:10px;
}

.site-logo,
.site-title,
.site-slogan {
  display:table-cell;
  width:inherit;
  vertical-align:middle;
  text-align:left;
}

.site-logo {}
.site-title {
  font-family: 'Shojumaru', cursive;
  line-height:0;
  font-size:3em;
  padding-left:20px;
  color:#333;
  text-shadow:#ccc 4px -4px 4px;
}
.site-slogan {
  font-family: 'Shojumaru', cursive;
  padding-left:20px;
  font-style:italic;
}

/**
* Login menu
*/
#login-menu{
  float:right;
  font-size:smaller;
}

/**
* Forms
*/
input{font:inherit;}
input[readonly]{color:#666;}
label{font-size:smaller;}